html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

img{max-width: 100%}
#wrapper{max-width: 1600px;margin: 0 auto}
nav{display: flex;flex-wrap: wrap; justify-content: space-between;padding: 20px 30px;align-items: center}
#logo{font-size: 30px;font-weight: bold}
#navMenu ul{display: flex;flex-wrap: wrap;gap: 20px}
#mobMenu{display: none;width: 50px}


#banner{background-image: url(../Images/background.jpg);background-position: center;background-size: cover;min-height: 500px;justify-content: center;align-items: center;text-align: center;display: flex}
#bannercon h1{font-size: 30px;font-weight: bold}
#bannercon p{font-size: 18px;padding: 10px 0 0}
#banner button{margin: 10px 0 0;padding: 10px}
#ourServices {text-align: center;padding: 20px}
h2{margin: 20px 0;font-size: 26px;font-weight: bold;text-transform: uppercase}
#servicesBlockCon{display: flex;flex-wrap: wrap; gap: 20px;margin: 40px 100px 20px;box-sizing: border-box}
.servicesBlocks{width: calc(25% - 3*20px/4);box-sizing: border-box;min-height: 200px;padding: 10px;box-sizing: border-box}
.role{font-size: 16px;font-weight: bold;padding: 10px}
.serviveDesc{font-size: 16px;text-align: left;}
#portfolio{text-align: center;padding: 20px;background-color: rgb(63, 111, 153)}
#portfolioHead{display: flex;justify-content: space-between;padding: 0 100px}

#portfolioCon{display: flex;flex-wrap: wrap; gap: 20px;margin: 20px 100px 20px;box-sizing: border-box}
.portfolioBlock{width: calc(33.33% - 2*20px/3);box-sizing: border-box;min-height: 200px;box-sizing: border-box} 
.portfolioBlock img{width: 100%}
#offer{text-align: center;align-items: center;margin: 20px 0;border-bottom: 2px solid black;padding: 10px;}
.tagLineForH2{text-align: center;align-items: center;margin: 0 100px }
#offerCon{display: flex;flex-wrap: wrap;gap: 20px;margin: 40px  100px 20px ; box-sizing: border-box}
.offerBlock{width: calc(25% - 3*20px/4);box-sizing: border-box;min-height: 200px;padding: 10px;box-sizing: border-box;background-color: #eee;}
.offerRole{text-align: left;font-size: 16px;font-weight: bold;padding: 10px 0;color: rgb(15, 178, 224);}
#offerHead h2{margin: 50px 0}
.offerBlockBtn{text-align: right;padding: 10px 0 0;}

@media screen and (max-width:767px) {
    .servicesBlocks, .portfolioBlock, .offerBlock{width: calc(50% - 1*20px/2)}
    .role, .serviveDesc{font-size: 14px}
    #mobMenu{display: block}
    #navMenu{display: none}
}

@media screen and (max-width:500px){
    .servicesBlocks, .portfolioBlock, .offerBlock{width: 100%}
    nav{flex-direction: column;}

}